html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-display);
  background-color: var(--alt-background);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background-color: var(--alt-background-dark);
  }
}
