:root {
    /* Type */
    --font-display: neue-haas-grotesk-display, Helvetica Neue, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, sans-serif;
    --font-text: neue-haas-grotesk-text, Helvetica Neue, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, sans-serif;
    
    /* Colours */
    --base-background: #eaeae8;
    --alt-background: #dddddd;
    --main-text: #212b2f;
    --main-text-secondary: #113333;
    --accent: #bb5e08;

    --base-background-dark: #212b2f;
    --alt-background-dark: #121b1f;
    --main-text-dark: #eaeae8;
    --main-text-secondary-dark: #dddddd;
    --accent-dark: #fc8211;
}